**/bin
**/build
**/gen
**/.classpath
**/.project
**/.settings
**/*.apk
**/*.err
**/*.iml
**/*.jks
**/*.lck
**/*.log

android-studio-project/.gradle
android-studio-project/.idea
android-studio-project/local.properties
android-studio-project/gradle-local.properties
